<div class="row rtl">
  <div class="span12">
    <p><%= t('.answers')%> (<%= @question.answers.size.to_farsi %>)</p>
    <% @question.answers.each do |answer| %>
      <div class="row">
        <div class="span8">
          <span><i class="icon-user"></i>
  	    <%= link_to answer.user.name, answer.user %>
  	  </span>
          <span class="space"><i class="icon-calendar"></i>
  	    <%= to_jalali(answer.created_at) %>
  	  </span>       
          <% if  @answer.reputation_for(:votes).to_i >= 0 %>
            <span class="space"><i class="icon- icon-thumbs-up"></i>
            <%= t('.votes')%> <%= pluralize answer.reputation_for(:votes).to_i.to_farsi, "" %>
          <% else %>
            <span class="space"><i class="icon- icon-thumbs-down"></i>
            <%= t('.votes')%> <%= pluralize answer.reputation_for(:votes).to_i.to_farsi, "" %>
          <% end %>
          <% if current_user && !current_user.voted_for?(answer) %>
            <%= link_to "+", vote_answer_path(answer, type: "up"), method: "post" %>
    	    | <%= link_to "-", vote_answer_path(answer, type: "down"), method: "post" %>
  	  <% end %>
        </div>
        <div class="span2 offset2">
          <div class="pull-left">
            <% if current_user?(answer.user) %>
              <%= link_to t('.edit'), edit_answer_path(answer), class: "btn btn-small" %>
              <%= link_to t('.delete'), answer_path(answer), method: :delete,
    		  data: { confirm: "آیا مطمئن هستید؟" }, class: "btn btn-small btn-danger" %>
            <% end %>
          </div>
  	  <p></p>
	</div>
	<div class="span12">
   	  <%= sanitize answer.body %>
   	  <p></P><br/>
   	  <hr>
	</div>           
      </div>
    <% end %>
    <% if signed_in? %>
      <%= render partial: 'answers/answer' %>
    <% end %>
  </div>
</div>
