<div class="row">
<div class="span8 offset1">
  <p><%= t('.comments') %> (<%= @question.comments.size.to_farsi %>)</p>
  <small>
    <% @question.comments.each do |comment| %>
    <p><%= comment.body %><br></p>
    <p><%= time_ago_in_words(comment.created_at).to_farsi %> <%= t('.ago') %> <%= t('.by') %>
     <%= link_to comment.user.name, comment.user %>
     <% if current_user?(comment.user) %>
       <%= link_to t('.edit'), edit_question_comment_path(@question, comment), class: "btn btn-small" %>
       <%= link_to t('.delete'), [comment.question, comment],method: :delete,
    		data: { confirm: "You sure?" }, class: "btn btn-small btn-danger" %>
     <% end %></p>
      <div class="row">
        <div class="span9">
          <hr>
        </div>
      </div>
      <% end %>
    <%= render partial: 'comments/form' %>  
  </small>
</div>
</div>
<div class="span11">
  <hr>
</div>
