<% provide(:title, 'New Question') %>

<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for @question do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
  
        <%= f.input :title, placeholder: 'what your question' %>
        
  
        <%= f.input :body, placeholder: 'Your answer' %>
        
        
        <%= f.input :tag_list, placeholder: 'seprate tags with' %><br/>
        
        
        <%= f.submit "Create Question", class: "btn btn-medium btn-primary" %>
    <% end %>
  </div>
</div>

