<h3><%= @question.title %></h3>
<div class="row">
  <div class="span8">
    </small>
      <span><i class="icon-user"></i> 
      <%= link_to @question.user.name, @question.user %></span>
      <span class="space"><i class="icon-calendar"></i> <%= to_jalali(@question.created_at) %></span>
      <span class="space"><i class="icon-comment"></i> 
         <%= t('.comments')%> <%= @question.comments.size.to_farsi %>
      </span>
      <span class="space"><i class="icon-eye-open"></i>
        <%= t('.views')%> <%= @question.visit.total_visits.to_farsi rescue 0 %>
      </span>
      <span class="space"><i class="icon-pencil"></i> 
        <%= t('.answers')%> <%= @question.answers.count.to_farsi %>
      </span>
        <% if  @question.reputation_for(:votes).to_i >= 0 %>
          <span class="space"><i class="icon- icon-thumbs-up"></i>
          <%= t('.votes')%> <%= pluralize @question.reputation_for(:votes).to_i.to_farsi, "" %>
        <% else %>
          <span class="space"><i class="icon- icon-thumbs-down"></i>
          <%= t('.votes')%> <%= pluralize @question.reputation_for(:votes).to_i.to_farsi, "" %>
        <% end %>
          
        <% if current_user && !current_user.voted_for?(@question) %>
          | <%= link_to "up", vote_question_path(@question, type: "up"), method: "post" %>
          | <%= link_to "down", vote_question_path(@question, type: "down"), method: "post" %>
        <% end %>
    </small>
  </div>
  <div class="span3 offset1">
    <% if current_user?(@question.user) %>
      <div class="pull-left">
        <%= link_to t('.edit'), edit_question_path(@question), class: "btn btn-small" %> 
        <%= link_to t('.back'), questions_path, class: "btn btn-small" %>
        <%= link_to t('.delete'), @question, method: :delete,
    		data: { confirm: "آیا مطمئن هستید؟" }, class: "btn btn-small btn-danger" %>
      </div>
    <% end %>
  <p></p>
  </div>

  <div class="span12">
    <%= sanitize @question.body %>
  <p></p>
  </div>
  <div class="span12">
    <% @question.tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag), class: "label label-info" %>
    <% end %>
  </div>
</div>
<hr>  
