<% @questions.each do |question| %>
  <% if question.answers.count == 0 %>
    <div class="row">
    <div class="span9">
      <div class="row">
      <div class="span3">
        <div class="row">
        <div class="span1 btn btn-inverse disabled">
          <%= pluralize question.reputation_for(:votes).to_i, "vote" %>
        </div>
        <div class="span1 btn btn-primary disabled">
          <%= question.answers.count %>
          <span><strong>answers</strong></span>  
        </div>
        <div class="span1 btn btn-primary disabled">
          <%= question.visit.total_visits rescue 0 %>
          <span><strong>views</strong></span>
        </div>
        </div>
      </div>
      <div class="span5">
        <h4><strong><%= link_to question.title, question_path(question) %></strong></h4>
      
      <div class="row">
        <div class="span5">
          <p></p>
          <p>
            <i class="icon-user"></i> by <%= question.user.name %>
             | <i class="icon-calendar"></i><%= time_ago_in_words(question.created_at) %> ago
             | <i class="icon-tags"></i> Tags : <span class="label label-info"> 
             <%= raw question.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ')%></span>
          </p>
        </div>
      </div>
      </div>
      </div>
      <hr>
    </div>
    </div>
  <% end %>
<% end %>
