<% @questions.each do |question| %>
  <% if question.answers.count == 0 %>
    <div class="row">
    <div class="span12">
      <div class="row">
      
        <li class="span1 well well-small digit">
          <span><%= pluralize question.reputation_for(:votes).to_i, "votes" %></span><br/>
        </li>
        <li class="span1 well well-small digit">
          <span><%= question.answers.count %></span><br/>
          <span>answer</span>  
        </li>
        <li class="span1 well well-small digit">
          <span><%= question.visit.total_visits rescue 0 %></span><br/>
          <span>views</span>
        </li>
      <div class="span6">
        <h4><strong><%= link_to question.title, question_path(question) %></strong></h4>
      
      <div class="row">
        <div class="span5">
          <p></p>
          <p>
            <i class="icon-user"></i> by <%= link_to question.user.name %>
             | <i class="icon-calendar"></i><%= time_ago_in_words(question.created_at) %> ago
             | <i class="icon-tags"></i> Tags : 
             <%= raw question.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(' ')%></span>
          </p>
        </div>
      </div>
      </div>
      </div>
      <hr>
    </div>
    </div>
  <% end %>
<% end %>
