<% provide(:title) %>
<div class="span3 offset9">
  <%= link_to "Ask Question", "questions/new", class: "btn btn-primary" %>
  <%= link_to "FAQ", "/faq",class: "btn btn-primary" %>
</div>
<div class="tabbable span12">
  <ul class="nav nav-tabs">
    <li class="active  offset1"><a href="#tab1" data-toggle="tab">Questions</a></li>
    <li><a href="#tab2" data-toggle="tab">Users</a></li>
    <li><a href="#tab3" data-toggle="tab">Tags</a></li>
    <li><a href="#tab4" data-toggle="tab">Unanswered</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= render partial: 'summary' %>
    </div>
    <div class="tab-pane" id="tab2">
      <%= render partial: "users/user", collection: @users %>
      <%= will_paginate @users %>
      
    </div>
    <div class="tab-pane" id="tab3">
      <%= render partial: 'tag' %>
    </div>
    <div class="tab-pane" id="tab4">
      <%= render partial: 'unanswer' %>
    </div>
  </div>
</div>


