<% provide(:title,)%>
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="span12">
    <%= render partial: 'question' %>
    </br> 
    <div class="row">
      <div class="span11">
      <hr>
      </div>
    </div>
    
    <%= render partial: 'comment' %>
    </br> 
    <div class="row">
      <div class="span11">
      <hr>
      </div>
    </div>
    <p><%= t('.answers')%> (<%= @question.answers.size %>)</p>
    <%= render partial: 'answer' %>
  </div>
</div>
