<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>


<section class="comments">
    <div class="row">
      <div class="span13 offset1 comment-container">
        <%= render :partial => 'comments/comment', :collection => @question.comments %>
      </div>
    </div>
    <h6>Comments</h6>
</section>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %> |
<%= link_to "Comment", new_question_comment_path(@question)  %> |
<%= link_to "Answer",  new_answer_path %>



