<% provide(:title,)%>
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="span12">
    <%= render partial: 'question' %>
    
    <%= render partial: 'comment' %>
    </br> 
    <div class="span11">
    <p><%= t('.answers')%> (<%= @question.answers.size %>)</p>
    </div>
    <%= render partial: 'answer' %>
  </div>
</div>
