<% provide(:title,)%>
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="span8">
        <p>
        Title:
                <%= @question.title %>
        <br/>
        Body:
                 <%= @question.body %>
        </p>
  </div>
  <%= @question.user.name %>
  | <%= pluralize @question.reputation_for(:votes).to_i, "vote" %>
  <% if current_user && !current_user.voted_for?(@question)%>
    | <%= link_to "up", vote_question_path(@question, type: "up"), method: "post" %>
    | <%= link_to "down", vote_question_path(@question, type: "down"), method: "post" %>
  <% end %>

</div>
<h5>Visits:</h5>
  <p><span class="gray">Total:</span><%= @question.visit.total_visits rescue 0 %></p>
<p>
  Tags: <% @question.tags.each do |tag| %>
          <%= tag.name %>
        <% end %>
</p>


<section class="comments">
    <div class="row">
      <div class="span13 offset1 comment-container">
        <%= render partial: 'comments/comment', collection:  @question.comments %>
      </div>
    </div>
    
    <h6>Comments</h6>
</section>

<div>
  <h5>
    Answers: <% @question.answers.each do |answer| %>
               <%= answer.body %><br/>
             <% end %>
  </h5>
</div>


<%= link_to 'Edit', edit_question_path(@question), class: "btn btn-small btn-primary" %> 
<%= link_to 'Back', questions_path, class: "btn btn-small btn-primary" %> 
<%= link_to "Comment", new_question_comment_path(@question), class: "btn btn-small btn-primary"  %><br/>

<%= render partial: 'answers/answer' %>





