<% provide(:title,)%>
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="span8">
        <p>
        Title:
                <%= @question.title %>
        <br/>
        Body:
                 <%= @question.body %>
        </p>
  </div>

</div>

<section class="comments">
    <div class="row">
      <div class="span13 offset1 comment-container">
        <%= render :partial => 'comments/comment', :collection => @question.comments %>
      </div>
    </div>
    
    <p>
      Tags: 
    </p>
    <h6>Comments</h6>
</section>


<%= link_to 'Edit', edit_question_path(@question), class: "btn btn-small btn-primary" %> 
<%= link_to 'Back', questions_path, class: "btn btn-small btn-primary" %> 
<%= link_to "Comment", new_question_comment_path(@question), class: "btn btn-small btn-primary"  %> 
<div>
  
</div><br />
<%= link_to "Your Answer", answer_path ,class: "btn btn-small btn-primary" %>



