<% if @total_questions.count > 0 %>
<% @questions.each do |question| %>
    <h5><strong><%= link_to question.title, question_path(question) %></strong></h5>
        <p></p>
        <p>
        <small>
          <span><i class="icon-calendar"></i> <%= to_jalali(question.created_at) %></span>
          <span class="space"><i class="icon-comment"></i> 
            <%= t('.comments')%> <%= question.comments.size.to_farsi %>
          </span>
          <span class="space"><i class="icon-eye-open"></i> 
            <%= t('.views')%> <%= question.visit.total_visits.to_farsi rescue 0 %>
          </span>
          <span class="space"><i class="icon-pencil"></i> 
            <%= t('.answers')%> <%= question.answers.count.to_farsi %>
          </span>
      
          <% if  question.reputation_for(:votes).to_i >= 0 %>
            <span class="space"><i class="icon- icon-thumbs-up"></i>
            <%= t('.votes')%> <%= pluralize question.reputation_for(:votes).to_i.to_farsi, "" %>
          <% else %>
            <span class="space"><i class="icon- icon-thumbs-down"></i>
            <%= t('.votes')%> <%= pluralize question.reputation_for(:votes).to_i.to_farsi, "" %>
          <% end %>
          <span class="space"> 
            <% question.tags.each do |tag| %>
              <%= link_to tag.name, tag_path(tag), class: "label label-info" %>
            <% end %>
          </span>
        </small>
        </p>
    <hr>
<% end %>
  
<% else %>
  <strong><%= t('.noquestion') %></strong>
<% end %>
