<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
	<div class="span4 offset3 well">
		<%= simple_form_for @user do |f| %>
		  <%= render 'shared/error_messages', object: f.object %>
		  
		  <%= f.input :name,:input_html => { :class => "span4" } %>
		  		  
		  <%= f.input :email,:input_html => { :class => "span4" } %>
		  
		  <%= f.input :location,:input_html => { :class => "span4" } %>
		  
		  <%= f.input :website,:input_html => { :class => "span4" } %>
		  
		  <%= f.input :realname,:input_html => { :class => "span4" } %>
		  
		  <%= f.input :aboutme,:input_html => { :class => "span4" } %>
		  
		  <%= f.input :password,:input_html => { :class => "span4" } %>
			  
		  <%= f.input :password_confirmation,:input_html => { :class => "span4" } %>
		  
		  
		  <%= f.submit "Save changes", class: "btn btn-medium btn-block btn-warning" %>
		<% end %>
		
		<%= gravatar_for @user %>
		<a href="http://gravatar.com/emails">change</a>
	</div>
</div>


