<% provide(:title,'Sign up') %>
<h1><%= t('.head') %></h1>

<div class="row">
  <div class="span4">
    <%= simple_form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.input :name, label: t('.name'),:input_html => { :class => "span4" },
          placeholder: t('.namel') %>
		  		  
      <%= f.input :email, label: t('.email'),:input_html => { :class => "span4" } %>
		  
      <%= f.input :password, label: t('.password'),:input_html => { :class => "span4" },
      	  placeholder: t('.passwordl') %>
			  
      <%= f.input :password_confirmation, label: t('.cpassword'),:input_html => { :class => "span4" } %><br/>
    
      <%= f.submit t('.submit'), class: "btn btn-medium btn-primary" %>
    <% end %>
  </div>
</div>
