<% provide(:title, @user.name)%>
<div class="row">
  <div class="span12">
    <div class="span2" style="margin-right:-10px">
      <%= gravatar_for @user, size: 135 %>
    </div>
    <div class="span6 rtl" style="margin-right:-10px">
      <legend><%= @user.name %></legend>
      <strong><%= t('.questions') %> ( <%= @total_questions.count.to_farsi %> )</strong>
      <strong class="offset1"><%= t('.answers') %> ( <%= @total_answers.count.to_farsi %> )</strong>
      <strong class="offset1"><%= t('.comments') %> ( <%= @total_comments.count.to_farsi %> )</strong>
    </div>
    <div class="pull-left">
      <%= link_to t('.askquestion'), "/questions/new", class: "btn btn-primary" %>
    </div>
  </div>
</div>
<p class="rtl" style="margin-right:35px">
  <small><%= link_to "تغییر آواتار", "http://gravatar.com/emails", :target => "_blank" %></small>
</p>
<p></p>  
<div class="row rtl">
  <div class="span12">
    <div class="tabbable">
      <ul class="nav nav-tabs ">
        <li class="active  offset2"><a href="#tab1" data-toggle="tab"><%= t('.profile') %></a></li>
        <li><a href="#tab2" data-toggle="tab"><%= t('.questions') %></a></li>
        <li><a href="#tab3" data-toggle="tab"><%= t('.answers') %></a></li>
        <li><a href="#tab4" data-toggle="tab"><%= t('.comments') %></a></li>
	<li><a href="#tab5" data-toggle="tab"><%= t('.aboutme') %></a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <%= render partial: 'profile' %>
        </div>
        <div class="tab-pane" id="tab2">
          <%= render partial: 'question' %>
        </div>
        <div class="tab-pane" id="tab3">
          <% if @total_answers.count > 0 %>
            <% @answers.each do |answer| %>
	      <div class="row">
	        <div class="span10">
	          <li><%= link_to answer.question.title, question_path(answer.question, answer) %></li>
	        </div>
	      </div><br>
	    <% end %>
	  <% else %>
	    <strong><%= t('.noanswer') %></strong>
	  <% end %>
        </div>
        <div class="tab-pane" id="tab4">
	  <% if @total_comments.count > 0 %>
	    <% @comments.each do |comment| %>
	      <div class="row">
	        <div class="span10">
	          <li><%= link_to comment.question.title , question_path(comment.question, comment) %></li>
	        </div>
	      </div><br>
	    <% end %>
	  <% else %>
	    <strong><%= t('.nocomment')%></strong>
	  <% end %>
        </div>
        <div class="tab-pane" id="tab5">
          <%= @user.aboutme %>
        </div>
      </div>
  </div>
</div>
