<% provide(:title, @user.name)%>
<div >
  <aside>
    <section>
      <h1>
        <%= gravatar_for @user, size: 125 %>
        <%= @user.name %>
      </h1>
    </section>
    <div class="tabbable span12">
      <ul class="nav nav-tabs ">
        <li class="active  offset2"><a href="#tab1" data-toggle="tab">Profile</a></li>
        <li><a href="#tab2" data-toggle="tab">Questions</a></li>
        <li><a href="#tab3" data-toggle="tab">Answers</a></li>
        <li><a href="#tab4" data-toggle="tab">About me</a></li>
      </ul>
      <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <%= render partial: 'profile' %>
      </div>
      <div class="tab-pane" id="tab2">
        <% @questions.each do |question| %>
          <div class="span5 well">
          <h4><%= link_to question.title, question_path(question) %></h4>
          </div>
        <% end %>
      </div>
      <div class="tab-pane" id="tab3">
        <% @questions.each do |question| %>
          <div class="span5 well">
          <h4><%= link_to question.title, question_path(question) %></h4>
          </div>
        <% end %>
      </div>
      <div class="tab-pane" id="tab4">
      <%= @user.aboutme %>
      </div>
  </div>
</div>
  </aside>
</div>
