<div class="answers">
  <%= simple_form_for(@answer,:html => { :novalidate => true }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      
    <%=  hidden_field_tag :question_id, @answer.question.id %>
    
    <%= f.input :body, label: false,
        :input_html => { :class => "tinymce span10",rows: 15 }, placeholder: 'Your answer' %><br/>
    
    <%= f.submit 'Your answer' , class: "btn btn-medium btn-primary" %>
    
    
  <% end %>
</div>
<%= tinymce %>

