<% provide(:tilte, 'Edit Answer') %>

<div class="row rtl">
  <div class="span12 well">
  <strong class="offset5"><%= t('.head') %></strong>
  <p></p>
  <%= simple_form_for @answer do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      
    <%=  hidden_field_tag :question_id, @answer.question.id %>
    
    <%= f.input :body, label: false, :input_html => { :class => "tinymce span10",rows: 15 } %><br/>
    
    <%= f.submit t('.submit') , class: "btn btn-medium btn-primary" %>
    
    <%= link_to t('.back'), @answer.question, class: "btn" %>
  <% end %>
  <%= tinymce %>
  </div>
</div>
