<% provide(:tilte, 'Edit Answer') %>

<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for @answer do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.input :body, placeholder: 'Your answer' %><br/>
    
      <%= f.submit 'Save change', class: "btn btn-medium btn-primary" %>
    
    <% end %>
  </div>
</div>

<%= link_to 'Back', questions_path %>
