<% provide(:tilte, 'Edit Answer') %>

<div class="answers">
  <%= simple_form_for @answer do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      
    <%=  hidden_field_tag :question_id, @answer.question.id %>
    
    <%= f.input :body, label: false,
        :input_html => { :class => "span10",rows: 15 }, placeholder: 'Your answer' %><br/>
    
    <%= f.submit 'Update answer' , class: "btn btn-medium btn-primary" %>
    
    <%= link_to raw('<i class="icon-arrow-left"></i> Back'), @answer.question, class: "btn" %>
  <% end %>
</div>


