<% provide(:tilte, 'Edit Answer') %>

<div class="row rtl">
  <div class="span10 offset1 well">
  <legend><strong><%= t('.head') %></strong></legend>
    <p>
      <%= t('.create')%>
      <%= link_to @answer.user.name, @answer.user %>
      <small class="space">( <%= to_jalali(@answer.created_at) %> )</small>
    </p>
  <p style="padding-top:5px"></p>
  <%= simple_form_for @answer do |f| %>

    <%=  hidden_field_tag :question_id, @answer.question.id %>
    
    <%= f.input :body, label: false, :input_html => { :class => "tinymce span10",rows: 15 } %><br/>
    
    <%= f.submit t('.submit') , class: "btn btn-medium btn-primary" %>
    
    <%= link_to t('.back'), @answer.question, class: "btn" %>
  <% end %>
  <%= tinymce %>
  </div>
</div>
