<% provide(:title) %>
<div class="row">  
  <div class="span4">
    <%= form_tag questions_path, :method => 'get' do %>
      <p class="pull-right">
        <%= text_field_tag :search, params[:search], class: "search-query span3" %>
        <%= submit_tag t('.search'), :name => nil, class: "btn" %>
      </p>
    <% end %>
  </div>
  <div class="span2 offset5 pull-left">
    <% if signed_in? %>
      <%= link_to t('.askquestion'), "questions/new", class: "btn btn-primary" %>
    <% else %>
      <%= link_to t('.askquestion'), "", class: "btn btn-primary disabled" %>
    <% end %>
  </div>
</div><br>

<p class="rtl offset5"> 
  <strong> پرسش‌های دارای تگ ( <%= @total_tags.count.to_farsi %> ) <%= @tag.name %> </strong>
</p>
<hr>
<% if @total_tags.count > 0 %>
  <% @tag.questions.each do |question| %>
   <div class="row">
    <div class="span12" id="questions">
      <div class="row">
        <div class="span3">
        <li class="span1 well well-small digit">
          <span><%= pluralize question.reputation_for(:votes).to_i.to_farsi, "" %></span><br/>
          <span><%= t('.votes')%></span>
        </li>
        <li class="span1 well well-small digit">
          <span><%= question.answers.count.to_farsi %></span><br/>
          <span><%= t('.answers')%></span>
        </li>
        <li class="span1 well well-small digit">
          <span><%= question.visit.total_visits.to_farsi rescue 0 %></span><br/>
          <span><%= t('.views')%></span>
        </li>
        </div>
      <div class="span9" id="question">
        <h4><strong><%= link_to question.title, question_path(question) %></strong></h4>
          <p>
          <small>
            <% question.tags.each do |tag| %>
                 <%= link_to tag.name, tag_path(tag), class: "label label-info" %>
            <% end %>
            <span class="space"><i class="icon-user"></i> 
              <%= link_to question.user.name, question.user %>
            </span>
            <span class="space"><i class="icon-calendar"></i> 
              <%= to_jalali(question.created_at) %>
            </span>
          </small>
          </p>        
      </div>
      </div>
      <hr>
    </div>
    </div>
  <% end %>
<% else %>
  <h2 class="rtl offset4"><%= t('.notag') %></h2>
<% end %>
